body{
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-container{
    display: grid;
    grid-template-columns: 1.3fr .7fr .7fr;
    grid-template-rows:1fr 1fr;
    margin: 100px;
    gap: 40px;

}
.grid-item{
    background-color:hsl(263, 55%, 52%) ;
    opacity: .9;
    border-radius: 10px;
}
h2{
    color:hsl(0, 0%, 100%) ;
    font-size: 20px;
    margin-right: 20px;
}
.text1{
    margin-left: 30px;
    z-index: 10;
}
.content{
    margin-right: 20px;
    color: hsl(0, 0%, 81%);
    font-size: 15px;
    opacity: .8;
}
.dan{
    margin-left: 50px;
    margin-top: -40px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    opacity: .9;
}
span{
    opacity: 50%;
    color: hsl(0, 0%, 81%);
    font-size: 13px;
}
.profile{
    border: 2px solid hsl(263, 53%, 59%);
    border-radius: 100%;
    width: 7%;
    margin-top: 25px;
}
.profile1{
    border-radius: 100%;
    width: 12%;
    margin-top: 20px;
    border: 2px solid hsl(0, 0%, 81%);
}
.profile2{
    border-radius: 100%;
    width: 12%;
    margin-top: 20px;
    border: 2px solid hsl(0, 0%, 81%);
}
.profile3{
    border-radius: 100%;
    width: 7%;
    margin-top: 20px;
    border: 2px solid hsl(263, 53%, 59%);
}
.text5{
    margin-left: 30px;
}
.text3{
    margin-left: 30px;
}
.kirah{
    color: hsl(217, 19%, 35%);
    line-height: 28px;
}
.kirap{
    color: hsl(217, 19%, 35%);
    margin-left: 50px;
    margin-top: -36px;
}
.patr{
    margin-left: 50px;
    margin-top: -40px;
    color: hsl(0, 0%, 100%);
}
.g1{
    color: hsl(210, 46%, 95%);
}
.patrp{
    opacity: .9;
}
.bg{
    margin-left: 300px;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.contentk{
    color:#4B5258;
    line-height:22px ;
    font-size: 15px;
    opacity: .7;
    margin-top: 30px;
}
.jon{
    margin-left: 50px;
    margin-top: -40px;
    color: hsl(0, 0%, 100%);
    opacity: .9;
}
.contentj{
    color: #4B5258;
    margin-top: 25px;
}
.text4{
    margin-left: 30px;
}
.jennp{
    margin-left: 50px;
    margin-top: -38px;
}
.g{
    color: hsl(217, 19%, 35%);
}
.jennh{
    color: hsl(219, 29%, 14%);
    opacity: .8;
}

.text2{
    margin-left: 30px;
}
.grid-item2{
    background-color:hsl(217, 19%, 35%) ;
    border-radius: 10px;
}
.grid-item3{
    background-color:hsl(0, 0%, 100%) ;
    grid-row: span 2 ;
    border-radius: 10px;

}
.kiraa{
    opacity: 1;
}
.grid-item4{
    background-color:hsl(0, 0%, 100%) ;
    width: 300px;
    border-radius: 10px;
    
}
.grid-item5{
    background-color: hsl(219, 29%, 14%);
    margin-left: -250px;
    border-radius: 10px;
}
@media(max-width:1000px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: .8fr .5fr 1fr .5fr .7fr ;
    }
    .grid-item3{
        grid-row: span 1;
    }
    .grid-item4{
        width: 100%;
    }
    .grid-item5{
        margin-left: 0;
    }
    .profile{
        width: 13%;
        margin-top: 25px;
    }
    .bg{
        margin-left: 40px;
    }
    .grid-container{
        margin: 10px;
    }
}
@media(max-width:1200px){
    .bg{
        visibility: hidden;
    }
}
